<div class="product-show-box">
  <div class="container">
<!--===== 广告图 =====-->
<section class="intro-box">
  <div class="row">
    <div class="col-md-12">
       <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmm29t61ztj30zk08c0zm.jpg" alt="Activities index intro">
    </div>
  </div>
</section>




<div id="company_list" data-lg-tj-track-code="gongsi_list">
	<ul class="item_con_list">
					                <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/52315.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0101
                                                    " data-lg-tj-cid="52315"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/40/D2/CgqKkVd7aL2AEt0LAAALTXrSAjQ159.jpg" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/52315.html" target="_blank" title="Video++" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0101
                                                    " data-lg-tj-cid="52315">Video++</a></p>
                        <p class="indus-stage wordCut">数据服务,文化娱乐/C轮</p>
                        <p class="advantage wordCut">创建视频消费场景 | 视频电商/AI/互娱/广告 月独立用户3.4亿UV</p>
                    </div>

                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/97443.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0102
                                                    " data-lg-tj-cid="97443"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/8A/D2/CgqKkVh3IySACD7RAAAP_VR-wDU359.jpg" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/97443.html" target="_blank" title="芋米" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0102
                                                    " data-lg-tj-cid="97443">芋米</a></p>
                        <p class="indus-stage wordCut">教育,旅游/A轮</p>
                        <p class="advantage wordCut">专注中小学生出国游学10年。用有趣的方式提供最极致的游学体验；用科学的方式为家长提供最放心的游学服务</p>
                    </div>
                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/3422.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0103
                                                    " data-lg-tj-cid="3422"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/4D/EE/CgpEMllsh2iAJ_u8AAAx6RdgCFY178.png" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/3422.html" target="_blank" title="英语流利说" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0103
                                                    " data-lg-tj-cid="3422">英语流利说</a></p>
                        <p class="indus-stage wordCut">移动互联网,教育/C轮</p>
                        <p class="advantage wordCut">英语流利说”是一款好玩又有效的英语口语学习应用，让你“忍不住开口说英语”，帮你真正摆脱“哑巴英语”！</p>
                    </div>
                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/58635.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0104
                                                    " data-lg-tj-cid="58635"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/68/9E/CgpFT1ms2UKATc_iAAO3CjVZtQU760.png" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/58635.html" target="_blank" title="即刻" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0104
                                                    " data-lg-tj-cid="58635">即刻</a></p>
                        <p class="indus-stage wordCut">移动互联网/B轮</p>
                        <p class="advantage wordCut">即刻，一个专注于兴趣内容的社交媒体。加入即刻=有口皆碑的产品+硅谷氛围+年轻团队+超棒福利</p>
                    </div>

                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/133084.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0105
                                                    " data-lg-tj-cid="133084"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/6E/00/CgqKkVghTGiAZgRuAAAZgnSfZUk837.png" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/133084.html" target="_blank" title="在行&amp;分答" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0105
                                                    " data-lg-tj-cid="133084">在行&amp;分答</a></p>
                        <p class="indus-stage wordCut">移动互联网,教育/A轮</p>
                        <p class="advantage wordCut">果壳（Guokr）旗下产品。2016年上半年互联网最佳产品。A+轮</p>
                    </div>

                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/28417.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0106
                                                    " data-lg-tj-cid="28417"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/53/CB/CgqKkVfACyyAV9xxAADSnYHS0Pw739.png" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/28417.html" target="_blank" title="兔展RabbitPre" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0106
                                                    " data-lg-tj-cid="28417">兔展RabbitPre</a></p>
                        <p class="indus-stage wordCut">移动互联网/B轮</p>
                        <p class="advantage wordCut">国内领先的大数据驱动的技术营销服务商</p>
                    </div>

                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/1561.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0107
                                                    " data-lg-tj-cid="1561"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/8A/62/CgqKkVh1n0eACORfAAAQPSvw5sM235.jpg" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/1561.html" target="_blank" title="Face++" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0107
                                                    " data-lg-tj-cid="1561">Face++</a></p>
                        <p class="indus-stage wordCut">移动互联网,硬件/C轮</p>
                        <p class="advantage wordCut">极客范儿的人工智能公司，加入我们，一起让机器看懂世界！</p>
                    </div>
                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/26250.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0108
                                                    " data-lg-tj-cid="26250"><img src="//www.lgstatic.com/thumbnail_200x200/image1/M00/00/37/CgYXBlTUXJ-AJlrvAABQBRHH8zc981.png" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/26250.html" target="_blank" title="musical.ly" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0108
                                                    " data-lg-tj-cid="26250">musical.ly</a></p>
                        <p class="indus-stage wordCut">社交网络,文化娱乐/C轮</p>
                        <p class="advantage wordCut">全球最IN的青少年娱乐社交平台，AppStore美国总榜排名前10，Google Play总榜前30</p>
                    </div>
                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/41846.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0109
                                                    " data-lg-tj-cid="41846"><img src="//www.lgstatic.com/thumbnail_200x200/i/image2/M00/06/90/CgotOVnKHFWAD6zxAAAaioyCljU012.png" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/41846.html" target="_blank" title="CareerFrog职业蛙" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0109
                                                    " data-lg-tj-cid="41846">CareerFrog职业蛙</a></p>
                        <p class="indus-stage wordCut">教育/B轮</p>
                        <p class="advantage wordCut">大学生求职服务领导者，做中国最有态度的雇主</p>
                    </div>
                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/492.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0110
                                                    " data-lg-tj-cid="492"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/6B/7D/CgpFT1myAg-AZdj5AAAtZTOf1nw336.png" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/492.html" target="_blank" title="咕咚" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0110
                                                    " data-lg-tj-cid="492">咕咚</a></p>
                        <p class="indus-stage wordCut">移动互联网/C轮</p>
                        <p class="advantage wordCut">智能运动，尽在咕咚</p>
                    </div>
                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/8283.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0111
                                                    " data-lg-tj-cid="8283"><img src="//www.lgstatic.com/thumbnail_200x200/image2/M00/03/17/CgpzWlXtLfiALmFTAAAwxofMfKM553.png" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/8283.html" target="_blank" title="华傲数据" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0111
                                                    " data-lg-tj-cid="8283">华傲数据</a></p>
                        <p class="indus-stage wordCut">数据服务/B轮</p>
                        <p class="advantage wordCut">让有限数据释放无限价值！</p>
                    </div>
                </li>


	                        <li class="company-item">
                    <div class="top">
                        <p><a href="https://www.lagou.com/gongsi/37602.html" target="_blank" data-lg-tj-id="8100" data-lg-tj-no="
                                                            0112
                                                    " data-lg-tj-cid="37602"><img src="//www.lgstatic.com/thumbnail_200x200/i/image/M00/08/9C/CgqKkVbQK42AdMJ-AAIoPDDRTN4951.jpg" alt="公司logo" width="80" height="80"></a></p>
                        <p class="company-name wordCut"><a href="https://www.lagou.com/gongsi/37602.html" target="_blank" title="欧德蒙" data-lg-tj-id="8200" data-lg-tj-no="
                                                            0112
                                                    " data-lg-tj-cid="37602">欧德蒙</a></p>
                        <p class="indus-stage wordCut">移动互联网,企业服务/A轮</p>
                        <p class="advantage wordCut">致力于打造最先进的智慧健康医疗设备和人工智能软件，让生命健康数据的采集、分析、存储管理更便捷更智能。</p>
                    </div>

                </li>
	        	    	</ul>

</div>



<br>
<br>
<br>
<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>公司序号</td>
        <td>公司名称</td>
        <td>公司简介</td>
      </tr>
    </thead>


    <tbody>
      <% @employments.each do |employment| %>
      <tr>
        <td>#</td>
        <td><%= link_to(employment.title, employment_path(employment)) %></td>
        <td><%= employment.body %></td>
        <td>
          <%= link_to("Edit", edit_employment_path(employment), class: "btn btn-sm btn-default")%>
          <%= link_to("Delete", employment_path(employment),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="employment">
    <%= link_to("新增单位", new_employment_path, class: "btn btn-default pull-right") %>
  </div>
</div>

  </div>
</div>
