<h2>Portfolio</h2>
  <div class="row text-center">
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="https://zhaopin.meituan.com/"> <img src="http://s0.meituan.net/bs/fe-web-meituan/24e4d32/img/logo.png" alt="Paris"></a>
        <p>吃喝玩乐全都有</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="https://www.smartisan.com/support/#/join"> <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fmhjsggjtnj307002kjrs.jpg" alt="Paris"></a>
        <p>完美主义的工匠精神</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="http://hr.cmcm.com/social/"> <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmhjfwiqicj307002kt9g.jpg" alt="Paris"></a>
       <p>安全与极速</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="http://job.sogou.com/"> <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fmhjifnh0lj307002k3yy.jpg" alt="Paris"></a>
        <p>词库超大、速度飞快</p>
      </div>
    </div>
</div>

<br>
<br>
<br>
<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>序号</td>
        <td>书名</td>
        <td>图片</td>
        <td>阅读笔记</td>
      </tr>
    </thead>
    <tbody>
      <% @employments.each do |employment| %>
      <tr>
        <td>#</td>
        <td><%= link_to(employment.title, employment_path(employment)) %></td>
        <td><%= employment.body %></td>
        <td>
          <%= link_to("Edit", edit_employment_path(employment), class: "btn btn-sm btn-default")%>
          <%= link_to("Delete", employment_path(employment),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="employment">
    <%= link_to("新增书籍", new_employment_path, class: "btn btn-default") %>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
