<h2>推荐就业</h2>
<div class="product-show-box">
  <div class="container">
<!--===== 广告图 =====-->
<section class="intro-box">
  <div class="row">
    <div class="col-md-12">
       <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmm29t61ztj30zk08c0zm.jpg" alt="Activities index intro">
    </div>
  </div>
</section>

  <div class="row text-center">
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="https://zhaopin.meituan.com/" target="_blank" > <img src="http://s0.meituan.net/bs/fe-web-meituan/24e4d32/img/logo.png" alt="Paris"></a>
        <p>吃喝玩乐全都有</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="https://www.smartisan.com/support/#/join" target="_blank" > <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fmhjsggjtnj307002kjrs.jpg" alt="Paris"></a>
        <p>完美主义的工匠精神</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="http://hr.cmcm.com/social/" target="_blank" > <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmhjfwiqicj307002kt9g.jpg" alt="Paris"></a>
       <p>安全与极速</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail">
      <a href="http://job.sogou.com/" target="_blank" > <img src="https://ww1.sinaimg.cn/large/006tNc79ly1fmhjifnh0lj307002k3yy.jpg" alt="Paris"></a>
        <p>词库超大、速度飞快</p>
      </div>
    </div>
</div>

<br>
<br>
<br>
<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>公司序号</td>
        <td>公司名称</td>
        <td>公司简介</td>
      </tr>
    </thead>


    <tbody>
      <% @employments.each do |employment| %>
      <tr>
        <td>#</td>
        <td><%= link_to(employment.title, employment_path(employment)) %></td>
        <td><%= employment.body %></td>
        <td>
          <%= link_to("Edit", edit_employment_path(employment), class: "btn btn-sm btn-default")%>
          <%= link_to("Delete", employment_path(employment),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="employment">
    <%= link_to("新增单位", new_employment_path, class: "btn btn-default pull-right") %>
  </div>
</div>

  </div>
</div>
