<br>
<br>
<br>
<br>
<br>

<%= link_to("写文章", new_post_postlist_path(@post), class: "btn btn-default pull-right")%>

  <table class="table">
     <thead>
      <tr>
         <td>文章标题</td>
         <td>文章内容</td>
       </tr>
     </thead>
     <tbody>
       <% @postlists.each do |postlist| %>
         <tr>
           <td><%= postlist.title %></td>
           <td><%= postlist.body %></td>
           <td><%= link_to("编辑", edit_post_postlist_path(@post,postlist))%></td>
           <td><%= link_to("删除", post_postlist_path(@post,postlist))%></td>

         </tr>
       <% end %>
     </tbody>
   </table>
