
    <div class="welcome-box">
          <!--===== 广告轮播 =====-->
        <section class="intro-box">
          <div class="row">
            <div class="col-md-12">
              <div id="intro" class="carousel slide" data-ride="carousel">
                <!--===== 轮播按钮 =====-->
                <ol class="carousel-indicators">
                  <li data-target="#intro" data-slide-to="0" class="active"></li>
                  <li data-target="#intro" data-slide-to="1"></li>
                  <li data-target="#intro" data-slide-to="2"></li>
                  <li data-target="#intro" data-slide-to="3"></li>
                </ol>

                <!--===== 轮播内容 =====-->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                      <a href="https://github.com/shenzhoudance/Full-Stack-Developer-Course"><img src="https://ww3.sinaimg.cn/large/006tNc79ly1fmstfndkohj30zk0dw4qp.jpg" alt="index intro"></a>
                  </div>

                  <div class="item">
                      <a href="https://github.com/shenzhoudance/Full-Stack-Developer-Course"><img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmsswjssl8j30zk0dwh5a.jpg" alt="index intro"></a>
                  </div>

                  <div class="item">
                  <a href="http://www.caihuahengyi.cn/qas"><img src="https://ww4.sinaimg.cn/large/006tKfTcly1fmxdoi4edfj30zk0dw4qp.jpg" alt="index intro"></a>
                  </div>

                  <div class="item">
                  <a href="http://www.caihuahengyi.cn/employments"><img src="https://ww1.sinaimg.cn/large/006tKfTcly1fmxdoigazaj30zk0dw18j.jpg" alt="index intro"></a>
                  </div>


                </div>

                <!--===== 换页按钮 =====-->
                <a class="left carousel-control" href="#intro" role="button" data-slide="prev">
                  <span class="fa fa-angle-left" aria-hidden="true"></span> <!-- 左侧按钮图示 -->
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#intro" role="button" data-slide="next">
                  <span class="fa fa-angle-right" aria-hidden="true"></span> <!-- 右侧按钮图示 -->
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="show-box">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>团队展示</h2> <!-- 副标题 -->
            <div class="short-line"></div> <!-- 分隔线 -->
          </div>
        </div>
        <div class="zf-video">
            <div class="obx-video" id="movePlayer">
                <iframe height=498 width=1000 src='http://player.youku.com/embed/XMzI5NDI2MjYyNA==' frameborder=0 'allowfullscreen'></iframe>
            </div>
        </div>
      </section>




        <!--===== 推荐商品 =====-->
    <section class="show-box">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>推荐课程</h2> <!-- 副标题 -->
          <div class="short-line"></div> <!-- 分隔线 -->
          <div class="row">
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %> <!-- 商品连结 -->
                <div class="box"><img src="https://ww3.sinaimg.cn/large/006tNc79ly1fn8yf00ki6j308c05kmxm.jpg" alt="item"></div> <!-- 商品图片 -->
                <div class="content">
                  <p>财务管理、时间管理、知识管理、团队管理</p> <!-- 商品名称 -->
                  <p>1288¥</p> <!-- 商品价格 -->
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww1.sinaimg.cn/large/006tNc79ly1fn8ygajd98j308c05kgm3.jpg" alt="item"></div>
                <div class="content">
                  <p>文字制作、图片制作、音频制作、视频制作</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww4.sinaimg.cn/large/006tNc79ly1fn8yhw49f7j308c05k74p.jpg" alt="item"></div>
                <div class="content">
                  <p>编程环境搭建 + Github 的 工具使用 + Ruby on Rails 的PC 网页开发 + 产品 阿里云 上线 + 微信支付 支付宝 支付 功能对接</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww1.sinaimg.cn/large/006tNc79ly1fn8yj43pufj308c05kjru.jpg" alt="item"></div>
                <div class="content">
                  <p> 微信 小程序 开发 + 微信 产品上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww3.sinaimg.cn/large/006tNc79ly1fn8yjw4jxbj308c05kaag.jpg" alt="item"></div>
                <div class="content">
                  <p>Andirod 的产品的开发及上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww2.sinaimg.cn/large/006tNc79ly1fn8ykfyhdjj308c05kjrl.jpg" alt="item"></div>
                <div class="content">
                  <p> iOS 的产品的开发及上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww3.sinaimg.cn/large/006tNc79ly1fn8ykzwa0hj308c05kq37.jpg" alt="item"></div>
                <div class="content">
                  <p>Unity3D 游戏的开发 + 游戏的平台的上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww2.sinaimg.cn/large/006tNc79ly1fn8ylnrhl5j308c05kwf1.jpg" alt="item"></div>
                <div class="content">
                  <p>VR 产品的开发 + VR 产品上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww1.sinaimg.cn/large/006tNc79ly1fn8ymqc1xoj308c05k74o.jpg" alt="item"></div>
                <div class="content">
                  <p>blockchain 产品开发 + blockchain 产品上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww3.sinaimg.cn/large/006tNc79ly1fn8yo28k0uj308c05kmxj.jpg" alt="item"></div>
                <div class="content">
                  <p>求职简历打造 + 企业内容实习</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww2.sinaimg.cn/large/006tNc79ly1fn8ys1zbplj308c05kdg9.jpg" alt="item"></div>
                <div class="content">
                  <p>创业项目指导 + 创业项目投资</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to 'https://github.com/shenzhoudance/Full-Stack-Developer-Course' do %>
                <div class="box"><img src="https://ww3.sinaimg.cn/large/006tNc79ly1fn8yuc44frj308c05kaao.jpg" alt="item"></div>
                <div class="content">
                  <p>求职职场分享 + 创业心得分享</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="show-box">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>联系我们</h2> <!-- 副标题 -->
        <div class="short-line"></div> <!-- 分隔线 -->
      </div>
    </div>
    </section>
</div>

    <div style="text-align:center"> <img src="https://ws4.sinaimg.cn/large/006tKfTcly1fnkrimy0fpj30na0n2466.jpg"  width="300" height="300" alt="二维码">
