<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>才华横溢-caihuahengyi.cn - 一个帮助学生和企业对接的知识服务平台</title>
    <meta name="baidu-site-verification" content="ti2u0GJ9rl" />
    <META name="googlebot" content="index, follow,archive" />
    <!-- <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fmdsp1dck3j31840o2gq4.jpg" align='left' width="874" height="512" alt="CAIHUA"/> -->
    <meta name="description" content="才华横溢是目前全球最懂学生学习的知识服务平台,提供学习、求职、融资、活动、问答等知识学习服务,帮助学生和企业精准对接。" />
    <meta name="keywords" content="才华横溢 终身学习 求职就业 线下活动" />
    <meta http-equiv="Window-target" content="_top" />
    <link rel=”shortcut icon” type=”image/x-icon” href="https://ws4.sinaimg.cn/large/006tNc79ly1fmdsv33859j30o60lw412.jpg" />
  </head>

  <body>
    <div class="welcome-box">
          <!--===== 广告轮播 =====-->
        <section class="intro-box">
          <div class="row">
            <div class="col-md-12">
              <div id="intro" class="carousel slide" data-ride="carousel">
                <!--===== 轮播按钮 =====-->
                <ol class="carousel-indicators">
                  <li data-target="#intro" data-slide-to="0" class="active"></li>
                  <li data-target="#intro" data-slide-to="1"></li>
                  <li data-target="#intro" data-slide-to="2"></li>
                </ol>

                <!--===== 轮播内容 =====-->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <%= link_to post_path(@post), target: "_blank" do %> <!-- 图片连结，点击另开视窗 -->
                      <%= image_tag("intro_1.jpg") %> <!-- 图片位置 -->
                      <div class="carousel-caption">
                        <!-- <h3>願景</h3> <!-- 标题 -->
                        <!-- <p>Chase the Vision, not the money. The money will end up following you.</p> <!-- 内文 -->
                      </div>
                    <% end %>
                  </div>
                  <div class="item">
                    <%= link_to qas_path, target: "_blank" do %>
                      <%= image_tag("intro_2.jpg") %>
                      <div class="carousel-caption">
                        <h3>动机</h3>
                        <p>Motivation will beat mere talent almost every time.</p>
                      </div>
                    <% end %>
                  </div>
                  <div class="item">
                    <%= link_to activities_path, target: "_blank" do %>
                      <%= image_tag("intro_3.jpg") %>
                      <div class="carousel-caption">
                        <h3>坚持</h3>
                        <p>When I thought I could't go on, I forced myself to keep going .</p>
                      </div>
                    <% end %>
                  </div>
                </div>

                <!--===== 换页按钮 =====-->
                <a class="left carousel-control" href="#intro" role="button" data-slide="prev">
                  <span class="fa fa-angle-left" aria-hidden="true"></span> <!-- 左侧按钮图示 -->
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#intro" role="button" data-slide="next">
                  <span class="fa fa-angle-right" aria-hidden="true"></span> <!-- 右侧按钮图示 -->
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </section>


        <!--===== 推荐商品 =====-->
    <section class="show-box">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>推荐课程</h2> <!-- 副标题 -->
          <div class="short-line"></div> <!-- 分隔线 -->
          <div class="row">
            <div class="col-md-4">
              <%= link_to '#' do %> <!-- 商品连结 -->
                <div class="box"><%= image_tag("item_1.png") %></div> <!-- 商品图片 -->
                <div class="content">
                  <p>财务管理、时间管理、知识管理、团队管理</p> <!-- 商品名称 -->
                  <p>1288¥</p> <!-- 商品价格 -->
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_2.jpg") %></div>
                <div class="content">
                  <p>文字制作、图片制作、音频制作、视频制作</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_3.jpg") %></div>
                <div class="content">
                  <p>编程环境搭建 + Github 的 工具使用 + Ruby on Rails 的PC 网页开发 + 产品 阿里云 上线 + 微信支付 支付宝 支付 功能对接</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_4.jpg") %></div>
                <div class="content">
                  <p> 微信 小程序 开发 + 微信 产品上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_5.jpg") %></div>
                <div class="content">
                  <p>Andirod 的产品的开发及上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_6.jpg") %></div>
                <div class="content">
                  <p> iOS 的产品的开发及上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_7.jpg") %></div>
                <div class="content">
                  <p>Unity3D 游戏的开发 + 游戏的平台的上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_8.jpg") %></div>
                <div class="content">
                  <p>VR 产品的开发 + VR 产品上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_9.jpg") %></div>
                <div class="content">
                  <p>blockchain 产品开发 + blockchain 产品上线</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_10.jpg") %></div>
                <div class="content">
                  <p>求职简历打造 + 企业内容实习</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_11.jpg") %></div>
                <div class="content">
                  <p>创业项目指导 + 创业项目投资</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to '#' do %>
                <div class="box"><%= image_tag("item_12.jpg") %></div>
                <div class="content">
                  <p>求职职场分享 + 创业心得分享</p>
                  <p>1288¥</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

    </div>
  </body>
</html>
