
<div class="col-md-4 col-md-offset-4">
    <h2>新增文章</h2>

    <hr>
    <%= simple_form_for @post do |f| %>

    <% if @post.image.present? %>
    <span>配图</span> <br>
      <%= image_tag(@post.image.thumb.url) %>
    <% end %>

    <div class="group">
      <%= f.input :image, as: :file %>
    </div>

    <%= f.input :information, :label => "产品介绍" %>
    <br>
    <%= f.input :body, :label => "产品内容" %>
    <br>
    <%= f.input :price, :label => "价钱" %>
    <br>
    <%= f.input :quantity, :label => "数量" %>
    <br>
    <%= f.submit "修改", :disable_with => 'Submitting...' %>
    <% end %>

</div>
