<div class="col-md-4 col-md-offset-4">
    <h2>新增文章</h2>

    <hr>
    <%= simple_form_for @post do |f| %>
    <div class="group">
      <%= f.input :image, as: :file %>
    </div>

    <br>
    标题
    <div class="group">
      <%= f.input :title %>
    </div>
    叙述

    <div class="group">
      <%= f.input :body %>
    </div>


    <%= f.submit "发表", :disable_with => 'Submitting...' %>
    <% end %>


</div>
