
  <div class="col-md-12">
    <% if @post.image.present? %>
      <%= image_tag(@post.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>

    <h2><%= @post.information %></h2>
    <% if current_user && current_user.vip? %>

    <p><%= @post.body %></p>
      <h4>评论精选</h4>
      <% @post.comments.each do |comment| %>
        <p>
          <strong>我的评论:</strong>
          <%= comment.body %>
        </p>
      <% end %>
      <h6>我来说几句:</h6>
      <%= form_for([@post, @post.comments.build]) do |f| %>
        <p>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>

    <% else %>
      <p>请开通会员</p>
    <% end %>
  </div>
