<div class="product-show-box">
  <div class="container">
    <!--===== 广告图 =====-->
    <section class="intro-box">
      <div class="row">
        <div class="col-md-12">
           <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fmn1cifti4j30zk08cgrm.jpg" alt="Activities index intro">
        </div>
      </div>

    </section>

<h1 class="text-center">问答页面</h1>
<table class="table table-hover">
  <thead>
      <tr>
        <td>书名</td>
        <td>内容</td>
      </tr>
  </thead>
  <tbody>
    <tr>
    <%= link_to("新增问答", new_qa_path, class: "btn btn-sm btn-default")%>
    <% @qas.each do |qa| %>
    <td><%= link_to qa.title, qa_path(qa) %></td>
    <td><%= link_to qa.body %></td>


    <td><%= link_to("Edit", edit_qa_path(qa), class: "btn btn-sm btn-default")%></td>
    <td><%= link_to("Delete", qa_path(qa),    class: "btn btn-sm btn-default",
                    method: :delete, data: { confirm: "Are you sure?" } )%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
