<div class="product-show-box">
  <div class="container">
<!--===== 广告图 =====-->
<section class="intro-box">
      <div class="row">
        <div class="col-md-12">
           <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmm29t61ztj30zk08c0zm.jpg" alt="Activities index intro">
        </div>
      </div>
    </section>

    <div data-v-405614c3="" data-v-3f216172="" st:block="eventsList" class="events-list">
      <a data-v-405614c3="" data-v-3f216172="" st:name="link" class="events" href="http://www.huodongxing.com/event/3413380289500?utm_source=%E6%90%9C%E7%B4%A2%E9%A1%B5&utm_medium=&utm_campaign=searchpage" target="_blank">
        <div data-v-405614c3="" data-v-3f216172="" class="events-inner">
          <div
            data-v-405614c3=""
            data-v-3f216172=""
            class="banner"
            style="background-image: url(&quot;https://ww2.sinaimg.cn/large/006tNc79ly1fmvdf1lqilj30f008w75w.jpg?imageView2/1/w/460/h/270/q/85/format/webp/interlace/1&quot;); background-size: cover;"></div>
          <div data-v-405614c3="" data-v-3f216172="" class="message">
            <div data-v-405614c3="" data-v-3f216172="" class="title">才华横溢产品发布会（北京站）暨跨年演讲年终盛典</div>
            <div data-v-405614c3="" data-v-3f216172="" class="date">
              <span data-v-405614c3="" data-v-3f216172="" class="icon ion-calendar"></span>
              <span data-v-405614c3="" data-v-3f216172="">12-31 周日</span>
            </div>
            <div data-v-405614c3="" data-v-3f216172="" class="bottom">
              <div data-v-405614c3="" data-v-3f216172="" class="address">
                <span data-v-405614c3="" data-v-3f216172="" class="icon ion-location"></span>
                <span data-v-405614c3="" data-v-3f216172="">北京</span>
              </div>
              <div data-v-405614c3="" data-v-3f216172="" class="btn-join">报名参加</div>
            </div>
          </div>
        </div>
      </a>
      <a data-v-405614c3="" data-v-3f216172="" st:name="link" class="events" href="http://www.huodongxing.com/event/3413380289500?utm_source=%E6%90%9C%E7%B4%A2%E9%A1%B5&utm_medium=&utm_campaign=searchpage" target="_blank">
        <div data-v-405614c3="" data-v-3f216172="" class="events-inner">
          <div
            data-v-405614c3=""
            data-v-3f216172=""
            class="banner"
            style="background-image: url(&quot;https://ww2.sinaimg.cn/large/006tNc79ly1fmvdf1lqilj30f008w75w.jpg?imageView2/1/w/460/h/270/q/85/format/webp/interlace/1&quot;); background-size: cover;"></div>
          <div data-v-405614c3="" data-v-3f216172="" class="message">
            <div data-v-405614c3="" data-v-3f216172="" class="title">才华横溢产品发布会（北京站）暨跨年演讲年终盛典</div>
            <div data-v-405614c3="" data-v-3f216172="" class="date">
              <span data-v-405614c3="" data-v-3f216172="" class="icon ion-calendar"></span>
              <span data-v-405614c3="" data-v-3f216172="">12-31 周日</span>
            </div>
            <div data-v-405614c3="" data-v-3f216172="" class="bottom">
              <div data-v-405614c3="" data-v-3f216172="" class="address">
                <span data-v-405614c3="" data-v-3f216172="" class="icon ion-location"></span>
                <span data-v-405614c3="" data-v-3f216172="">北京</span>
              </div>
              <div data-v-405614c3="" data-v-3f216172="" class="btn-join">报名参加</div>
            </div>
          </div>
        </div>
      </a>
      <a data-v-405614c3="" data-v-3f216172="" st:name="link" class="events" href="http://www.huodongxing.com/event/3413380289500?utm_source=%E6%90%9C%E7%B4%A2%E9%A1%B5&utm_medium=&utm_campaign=searchpage" rel="nofollow noopener noreferrer" target="_blank">
        <div data-v-405614c3="" data-v-3f216172="" class="events-inner">
          <div
            data-v-405614c3=""
            data-v-3f216172=""
            class="banner"
            style="background-image: url(&quot;https://ww2.sinaimg.cn/large/006tNc79ly1fmvdf1lqilj30f008w75w.jpg?imageView2/1/w/460/h/270/q/85/format/webp/interlace/1&quot;); background-size: cover;"></div>
          <div data-v-405614c3="" data-v-3f216172="" class="message">
            <div data-v-405614c3="" data-v-3f216172="" class="title">才华横溢产品发布会（北京站）暨跨年演讲年终盛典</div>
            <div data-v-405614c3="" data-v-3f216172="" class="date">
              <span data-v-405614c3="" data-v-3f216172="" class="icon ion-calendar"></span>
              <span data-v-405614c3="" data-v-3f216172="">12-31 周日</span>
            </div>
            <div data-v-405614c3="" data-v-3f216172="" class="bottom">
              <div data-v-405614c3="" data-v-3f216172="" class="address">
                <span data-v-405614c3="" data-v-3f216172="" class="icon ion-location"></span>
                <span data-v-405614c3="" data-v-3f216172="">北京</span>
              </div>
              <div data-v-405614c3="" data-v-3f216172="" class="btn-join">报名参加</div>
            </div>
          </div>
        </div>
      </a>
      <a data-v-405614c3="" data-v-3f216172="" st:name="link" class="events" href="http://www.huodongxing.com/event/3413380289500?utm_source=%E6%90%9C%E7%B4%A2%E9%A1%B5&utm_medium=&utm_campaign=searchpage" rel="nofollow noopener noreferrer" target="_blank">
        <div data-v-405614c3="" data-v-3f216172="" class="events-inner">
          <div
            data-v-405614c3=""
            data-v-3f216172=""
            class="banner"
            style="background-image: url(&quot;https://ww2.sinaimg.cn/large/006tNc79ly1fmvdf1lqilj30f008w75w.jpg?imageView2/1/w/460/h/270/q/85/format/webp/interlace/1&quot;); background-size: cover;"></div>
          <div data-v-405614c3="" data-v-3f216172="" class="message">
            <div data-v-405614c3="" data-v-3f216172="" class="title">才华横溢产品发布会（北京站）暨跨年演讲年终盛典</div>
            <div data-v-405614c3="" data-v-3f216172="" class="date">
              <span data-v-405614c3="" data-v-3f216172="" class="icon ion-calendar"></span>
              <span data-v-405614c3="" data-v-3f216172="">12-31 周日</span>
            </div>
            <div data-v-405614c3="" data-v-3f216172="" class="bottom">
              <div data-v-405614c3="" data-v-3f216172="" class="address">
                <span data-v-405614c3="" data-v-3f216172="" class="icon ion-location"></span>
                <span data-v-405614c3="" data-v-3f216172="">北京</span>
              </div>
              <div data-v-405614c3="" data-v-3f216172="" class="btn-join">报名参加</div>
            </div>
          </div>
        </div>
      </a>

    </div>







<div class="col-md-12">
  <table class="table table-hover">
    <h3>活动精选</h3>
    <thead>
      <tr>
        <td>活动名称</td>
        <td>活动内容</td>
      </tr>
    </thead>
    <tbody>
      <div class="activity">
        <% @activities.each do |activity|%>
        <tr>
          <td><%= link_to(activity.title, activity_path(activity))%></td>
          <td><%= link_to(activity.body) %></td>
          <td><%= link_to("编辑", edit_activity_path(activity))%></td>
          <td><%= link_to("删除", activity_path(activity), method: :delete, data: { confirm: "Are you sure?"}) %></td>
        </tr>
        <% end %>
      </div>
    </tbody>

      </table>
        </div>
        <%= link_to("新增活动", new_activity_path, class: "btn btn-default pull-right") %>
    </div>

</div>
