<div class="product-show-box">
  <div class="container">
<!--===== 广告图 =====-->
<section class="intro-box">
      <div class="row">
        <div class="col-md-12">
           <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fmm29t61ztj30zk08c0zm.jpg" alt="Activities index intro">
        </div>
      </div>
    </section>

    <div data-v-405614c3="" data-v-3f216172="" st:block="eventsList" class="events-list">
      <a data-v-405614c3="" data-v-3f216172="" st:name="link" class="events" href="https://tianchi.aliyun.com/markets/tianchi/api2017" rel="nofollow noopener noreferrer" target="_blank">
        <div data-v-405614c3="" data-v-3f216172="" class="events-inner">
          <div
            data-v-405614c3=""
            data-v-3f216172=""
            class="banner"
            style="background-image: url(&quot;https://user-gold-cdn.xitu.io/1513585488935b15f6b7340b29c991cf0891fd6b185b9.jpg?imageView2/1/w/460/h/270/q/85/format/webp/interlace/1&quot;); background-size: cover;"></div>
          <div data-v-405614c3="" data-v-3f216172="" class="message">
            <div data-v-405614c3="" data-v-3f216172="" class="title">阿里云 API 创新大赛</div>
            <div data-v-405614c3="" data-v-3f216172="" class="date">
              <span data-v-405614c3="" data-v-3f216172="" class="icon ion-calendar"></span>
              <span data-v-405614c3="" data-v-3f216172="">02-14 周三</span>
            </div>
            <div data-v-405614c3="" data-v-3f216172="" class="bottom">
              <div data-v-405614c3="" data-v-3f216172="" class="address">
                <span data-v-405614c3="" data-v-3f216172="" class="icon ion-location"></span>
                <span data-v-405614c3="" data-v-3f216172="">不限</span>
              </div>
              <div data-v-405614c3="" data-v-3f216172="" class="btn-join">报名参加</div>
            </div>
          </div>
        </div>
      </a>
      <a data-v-405614c3="" data-v-3f216172="" st:name="link" class="events" href="http://www.huodongxing.com/event/7418850947700" rel="nofollow noopener noreferrer" target="_blank">
        <div data-v-405614c3="" data-v-3f216172="" class="events-inner">
          <div
            data-v-405614c3=""
            data-v-3f216172=""
            class="banner"
            style="background-image: url(&quot;https://user-gold-cdn.xitu.io/1514305231675b627730afa5eaa8181a063530a3b1310.jpg?imageView2/1/w/460/h/270/q/85/format/webp/interlace/1&quot;); background-size: cover;"></div>
          <div data-v-405614c3="" data-v-3f216172="" class="message">
            <div data-v-405614c3="" data-v-3f216172="" class="title">Apache Kylin &amp; Alluxio Meetup</div>
            <div data-v-405614c3="" data-v-3f216172="" class="date">
              <span data-v-405614c3="" data-v-3f216172="" class="icon ion-calendar"></span>
              <span data-v-405614c3="" data-v-3f216172="">01-21 周日</span>
            </div>
            <div data-v-405614c3="" data-v-3f216172="" class="bottom">
              <div data-v-405614c3="" data-v-3f216172="" class="address">
                <span data-v-405614c3="" data-v-3f216172="" class="icon ion-location"></span>
                <span data-v-405614c3="" data-v-3f216172="">上海</span>
              </div>
              <div data-v-405614c3="" data-v-3f216172="" class="btn-join">报名参加</div>
            </div>
          </div>
        </div>
      </a>
      <a data-v-405614c3="" data-v-3f216172="" st:name="link" class="events" href="http://if2018.geekpark.net" rel="nofollow noopener noreferrer" target="_blank">
        <div data-v-405614c3="" data-v-3f216172="" class="events-inner">
          <div
            data-v-405614c3=""
            data-v-3f216172=""
            class="banner"
            style="background-image: url(&quot;https://user-gold-cdn.xitu.io/1512442560289cd05c88cfa73bc8cbfc5bc840d6d8f24.jpg?imageView2/1/w/460/h/270/q/85/format/webp/interlace/1&quot;); background-size: cover;"></div>
          <div data-v-405614c3="" data-v-3f216172="" class="message">
            <div data-v-405614c3="" data-v-3f216172="" class="title">极客公园创新大会 IF 2018</div>
            <div data-v-405614c3="" data-v-3f216172="" class="date">
              <span data-v-405614c3="" data-v-3f216172="" class="icon ion-calendar"></span>
              <span data-v-405614c3="" data-v-3f216172="">01-19 周五</span>
            </div>
            <div data-v-405614c3="" data-v-3f216172="" class="bottom">
              <div data-v-405614c3="" data-v-3f216172="" class="address">
                <span data-v-405614c3="" data-v-3f216172="" class="icon ion-location"></span>
                <span data-v-405614c3="" data-v-3f216172="">北京</span>
              </div>
              <div data-v-405614c3="" data-v-3f216172="" class="btn-join">报名参加</div>
            </div>
          </div>
        </div>
      </a>
      <a data-v-405614c3="" data-v-3f216172="" st:name="link" class="events" href="http://www.huodongxing.com/event/3417245094000?qd=JUEJIN" rel="nofollow noopener noreferrer" target="_blank">
        <div data-v-405614c3="" data-v-3f216172="" class="events-inner">
          <div
            data-v-405614c3=""
            data-v-3f216172=""
            class="banner"
            style="background-image: url(&quot;https://user-gold-cdn.xitu.io/15132384382109a19b737d9769022ac711e7458e5e85f.jpg?imageView2/1/w/460/h/270/q/85/format/webp/interlace/1&quot;); background-size: cover;"></div>
          <div data-v-405614c3="" data-v-3f216172="" class="message">
            <div data-v-405614c3="" data-v-3f216172="" class="title">2018 女生科技体验节｜TECHIE FESTIVAL</div>
            <div data-v-405614c3="" data-v-3f216172="" class="date">
              <span data-v-405614c3="" data-v-3f216172="" class="icon ion-calendar"></span>
              <span data-v-405614c3="" data-v-3f216172="">01-14 周日</span>
            </div>
            <div data-v-405614c3="" data-v-3f216172="" class="bottom">
              <div data-v-405614c3="" data-v-3f216172="" class="address">
                <span data-v-405614c3="" data-v-3f216172="" class="icon ion-location"></span>
                <span data-v-405614c3="" data-v-3f216172="">北京</span>
              </div>
              <div data-v-405614c3="" data-v-3f216172="" class="btn-join">报名参加</div>
            </div>
          </div>
        </div>
      </a>

    </div>







<div class="col-md-12">
  <table class="table table-hover">
    <h3>活动精选</h3>
    <thead>
      <tr>
        <td>活动名称</td>
        <td>活动内容</td>
      </tr>
    </thead>
    <tbody>
      <div class="activity">
        <% @activities.each do |activity|%>
        <tr>
          <td><%= link_to(activity.title, activity_path(activity))%></td>
          <td><%= link_to(activity.body) %></td>
          <td><%= link_to("编辑", edit_activity_path(activity))%></td>
          <td><%= link_to("删除", activity_path(activity), method: :delete, data: { confirm: "Are you sure?"}) %></td>
        </tr>
        <% end %>
      </div>
    </tbody>

      </table>
        </div>
        <%= link_to("新增活动", new_activity_path, class: "btn btn-default pull-right") %>
    </div>

</div>
