<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title data-vue-meta="true">才华横溢-caihuahengyi.cn - 一个帮助学生和企业对接的知识服务平台</title>
    <meta name="baidu-site-verification" content="ti2u0GJ9rl" />
    <META name="googlebot" content="index, follow,archive" />
    <!-- <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fmdsp1dck3j31840o2gq4.jpg" align='left' width="874" height="512" alt="CAIHUA"/> -->
    <meta name="description" content="才华横溢是目前全球最懂学生学习的知识服务平台,提供学习、求职、融资、活动、问答等知识学习服务,帮助学生和企业精准对接。" />
    <meta data-vue-meta="true" data-vmid="keywords" name="keywords" content="才华横溢 终身学习 求职就业 线下活动" />
    <meta http-equiv="Window-target" content="_top" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <%= csrf_meta_tags %>
      <!-- <%= render_page_title_tag %> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
      <div>
            <%= render "common/navbar" %>
              <%= yield %>
        </div>
        <div class="row">
        <%= render "common/footer" %>
        </div>
    </body>
  </body>
</html>
